<h1>FAMNIT Urniki</h1>

<% @programi.each do |program| %>
	<ul>
	<% program.each do |predmet| %>
		<li><a href="<%=@rel_url+predmet['course_id']%>"><%=predmet['name']%></a></li>
	<% end %>
	</ul>
<% end %>